*{margin: 0;padding: 0;}
/* .header{height:76px;
    
    border-bottom:1px solid #cecfcf;
    box-shadow:0 0 5px #cecfcf inset;
}

.header nav{float:left;
    padding:28px 0 0 40px;
}
.header nav li{float:left;
    padding:0 25px;
}
.header nav a{transition:color 0.2s ease;
    font-size:20px;}
.header .login{transition:all 0.15s linear;
    margin-top:23px;
    font-size:16px;
    width:50px;
    height:30px;
    text-align:center;
    line-height:30px;
    border-radius:3px;
    border:1px #fe5341 solid;}
.header .search{transition:transform 0.08s ease;
    width:42px;
    height:40px;
    line-height:999;
    overflow:hidden;
    margin-top:28px;
    margin-right:15px;}
.header .search:hover{transform:scale(1.1);}
.header nav a:hover{color:#fe5341;}
 nav .on a{color:#fe5341;}
.header .login{color:#fe5341;}
.header .login:hover{background:#fe5341;
    color:#fff;}
.header .search{background:url(img/search.png) no-repeat;} */


 /* 大图片 */
.focus{
    background:url(../img/original.jpg) no-repeat center top;
}
.focus-info{
    color:#fff;
}
.focus-info .label span{
    background:rgba(255,255,255,.3);
}
.focus-info .btn a{
    background:#fe5341;
    color:#fff;
}

    .focus{
        height:300px;overflow:hidden;
    }
    .focus-info{
        text-align:right;
        padding-top:35px;
        /* transform:translate(800px,-800px);
        -moz-animation:rotateIn 1s ease both;
        -webkit-animation:rotateIn 1s ease both;animation:rotateIn 1s ease both;*/
    
    } 
    .focus-info h2{
        font-size:34px;
        margin-bottom:15px;
    }
    .focus-info .label span{
        display:inline-block;
        padding:5px 10px;
        border-radius:3px;
        font-size:16px;
        margin-right:10px;
    }
    .focus-info .time{
        padding:20px 0 16px 0;
        font-size:18px;
    }
    .focus-info .btn a{
        width:242px;
        height:48px;
        text-align:center;
        display:inline-block;
        line-height:48px;
        font-size:24px;
        border-radius:3px;
    }  

    /**热门试用**/
.title{
    color:#474747;
    line-height:1.6;
}
.title a.more{
    background:url(img/readMore.png) no-repeat right 7px;
    color:#fd6959;
}
.hot{
    padding-bottom:20px;
}
.hot a.prev{
    background:url(img/prev.png) no-repeat;
}
.hot a.next{
    background:url(img/next.png) no-repeat;
}
.slide-box dl{
    background:#fff;
}
.use dt .top-tip{
    color:#f5e8e8;
}
.use dt .shoufa{
    background:#fe5341;
}
.use dt .red span,.use dt .sq span,.use dt .red{
    color:#fe5341;
}
.use dt .tys{
    background:#fbf4cb;
    color:#c4a96a;
}
.use dt .green span,.use dt .green{
    color:#80c269;
}
.use dt .graw span,.use dt .graw{
    color:#ccc;
}

.common .title,.hot-box .title{
    position:relative;
    padding:18px 0 16px;
    font-size:20px;
    font-weight:bold;
}
.common .title a.more{
    font-weight:normal;
    position:absolute;
    right:0;
    /* top:22px; */
    padding-right:17px;
    font-size:14px;}
.hot{
    position:relative;
}
.hot a.prev,.hot a.next{
    position:absolute;
    width:37px;
    height:78px;
    top:120px;
}
.hot a.prev{
    left:-60px;
}
.hot a.next{
    right:-60px;
}
.hot .hot-slide{
    position:relative;
    height:295px;
    overflow:hidden;
}
.slide-box{
    position:relative;
    height:295px;
}
.slide-box dl{
    position:absolute;
    width:1000px;
    z-index:1;
    left:0;
    top:0;
}
.slide-box dl.on{
    z-index:2;
}
.use dl:after{
    clear:both;
    content:"";
    display:block;
    height:0;
    visibility:hidden;
}
.use dl dt{
    position:relative;
    overflow:hidden;
    width:220px;
    height:286px;
    float:left;
    border:1px solid #e6e9e9;
    border-radius:6px;
    margin-right:37px;
}
.use dl dt:nth-child(4n+4){
    margin-right:0;
}
.use dt a{
    display:block;
}
.use dt .top-tip{
    position:absolute;
    line-height:22px;
    
    z-index:10;
    padding:0 8px;
    border-radius:0 0 0 6px;
    top:0;
    right:0;
}
.use dt .hot-con{
    padding:8px 8px 14px;
    text-align:center;
}
.use dt .name{font-size:16px;
    height:48px;
    font-weight:bold;
}
.use dt .tabs{
    padding:6px 0;
}
.use dt .tabs span{
    display:inline-block;
    padding:2px 10px;
    margin:0 5px;
    border-radius:5px;
}
.use dt .red span{
    border:1px solid #fe5341;
}
.use dt .green span{
    border:1px solid #80c269;
}
.use dt .graw span{
    border:1px solid #ccc;
}
.use dt .sq{
    font-size:16px;
    line-height:28px;
}
.use dt .current{
    font-size:14px;
    line-height:20px;
}


/**报告精选**/
.report-box{
}
.report-box ul li{
    height:220px; 
   
    float: left;
   width: 220px;
  margin: 0px 15px;
}
.report-box ul li img{
        width: 100%;
       
    }


/**导购精选**/

.guide li .info{
    background:url(../img/listbg.jpg) no-repeat left bottom;
    background-size:221px 19px;
    
} 
.guide ul li{
    height:220px; 
    
     float: left;
    width: 220px;
   margin: 0px 15px;
  
}
.guide ul li img{ 
    width: 100%;
   
}

.playMore{
    color:#a3a3a3;
}
.playMore .more-btn{
    background:url(../img/more.png) no-repeat left center;
    color:#fe5341;
}
/* .playMore .loading{
    background-image:url(../img/loading-icon.gif);
} */

.playMore{
    text-align:center;
    font-size:16px;
    padding-top:10px;
    padding-bottom:50px;
}
.playMore .more-btn{
    padding-left:24px;
}
.report .playMore{
    padding-top:22px;
}







  
 

















